<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link href="/assets/css/fontspecs.css" rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/png" href="/assets/images/sail-16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/images/sail-32.png" sizes="32x32">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.ksteimel.duckdns.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
	      <h1><a href="https://{{site.url}}">{{ site.title | default: site.github.repository_name }}</a></h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        <ul>
        {% if site.show_downloads %}
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
        {% endif %}
          <li><a href="https://github.com/ksteimel">View On <strong>GitHub</strong></a></li>
          <li><a href="https://scholar.social/@ksteimel">View On<strong>Mastodon</strong></a></li>
        </ul>
       <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="assets/css/font-awesome.min.css">

      </header>
      <div class="topnav" id="myTopnav">
          <div class="innernav">
              <a href="/" class="active">Home</a>
              <a href="https://wiki.ksteimel.duckdns.org/user/3">Wiki</a>
              <a href="https://git.ksteimel.duckdns.org">Gitea</a>
              <a href="/bio.html">Bio</a>
              <a href="/academics/publications.html">Publications</a>
          </div>
          <!--
          <select>
              <option value="/">Home</option>
              <option value="https://wiki.ksteimel.duckdns.org">Wiki</option>
              <option value="https://git.ksteimel.duckdns.org">Gitea</option>
              <option value="/bio.html">Bio</option>
              <option value="/academics/publications.html">Publications</a>
          </select>
          -->
      </div> 
      <section>
      <h1>{{page.title}}</h1>
      {{ content }}

      </section>
    </div>
    <footer>
    {% if site.github.is_project_page %}
      <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
    {% endif %}
      <p>Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
